@namespace Jumpeno.Client.Layouts

@inherits BasicComponent

<nav class="@ComputeClass()" style="@Style">
    <Container Type="CONTAINER_TYPE.INLINE" Boundary PaddingHorizontal Class="@CLASS_CONTAINER">
        <LogoLink />
        <div class="@CLASS_NAVIGATION">
            <MenuControls OnFocusIn="OnControlsFocusIn" OnFocusOut="OnControlsFocusOut" />
            <AuthView Roles="[ROLE.USER]">
                <UserDropDown />
            </AuthView>
            <AuthView Roles="[ROLE.ADMIN]">
                <AdminDropDown />
            </AuthView>
            <NavMenuOpenButton
                ID="@MOBILE_MENU_BUTTON_ID"
                OnClick="MobileRef.Open"
                OnFocus="OnMobileMenuButtonFocusIn"
                OnBlur="OnMobileMenuButtonFocusOut"
            />
        </div>
    </Container>
</nav>
