@namespace Jumpeno.Client.Components

@inherits SurfaceComponent

<div
    id="@ID"
    class="@ComputeClass()"
    @onclick:stopPropagation="@StopPropagation"
    @onkeypress:stopPropagation="@StopPropagation"
>
    <AntDesign.Switch
        size="@Size.ToString().ToLower()"
        @bind-Checked="@Value"
        OnChange="OnChangeEvent"
        Class="@CLASSNAME_ELEMENT"
        Disabled="@Disabled"
    />
</div>
