@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div class="@ComputeClass()">
    <div class="@CLASS.NO_DISPLAY">@RenderVar</div>
    <div
        id="@ID_TITLE"
        class="@CLASS_COLLAPSE_ITEM_TITLE"
        @onclick="Toggle"
        @onkeypress="@(async e => { if (e.Key == KEYBOARD.ENTER) await Toggle(); })"
        role="button"
        aria-controls="@ID_CONTENT"
        aria-expanded="@($"{!Collapsed}".ToLower())"
        tabindex="0"
        aria-label="@Label"
    >
        <CollapseTitle>@Title</CollapseTitle>
    </div>
    <div id="@ID_CONTENT" class="@CLASS_COLLAPSE_ITEM_CONTENT_WRAP" inert="@Collapsed">
        <div class="@CLASS_COLLAPSE_ITEM_CONTENT" tabindex="0">
            <CollapseContent>@Content</CollapseContent>
        </div>
    </div>
</div>
