@namespace Jumpeno.Client.Layout

@inherits LayoutBase

<div class="@ComputeClass()">
    <CascadingValue Value="LayoutVM">
        <NavMenuMobile
            @ref="@NavMenuMobileRef"
            MenuRef="@NavMenuRef"
            OnMobileMenuOpen="OnMobileMenuOpen"
            OnMobileMenuClose="OnMobileMenuClose"
        >
            <ScrollArea Id="@SCROLLAREA_ID.PAGE" AutoHide="SCROLLAREA_AUTOHIDE.MOVE" OverflowX="false" Class="page">
                <Container Class="page-layout">
                    <BackgroundImage URL="@IMAGE.COMMON.BG_YELLOW" class="main-background" Preloaded />
                    <NavMenu @ref="@NavMenuRef" MobileRef="@NavMenuMobileRef" Display="LayoutVM.NavigationDisplayed" />
                    <Container class="page-container">
                        <Container Tag="main" Type="CONTAINER_TYPE.INLINE" Boundary PaddingVertical PaddingHorizontal Class="main-container" @key="Key">
                            <MainErrorBoundary>
                                @Body
                            </MainErrorBoundary>
                        </Container>
                    </Container>
                </Container>
                <Footer Display="LayoutVM.NavigationDisplayed" />
            </ScrollArea>
        </NavMenuMobile>
    </CascadingValue>
</div>
