@namespace Jumpeno.Client.Components

@inherits ServiceComponent<PageLoader>

<CascadingValue Name="@CASCADE_PAGE_LOADER_DISPLAYED" Value="PageLoaderDisplayed">
<CascadingValue Name="@CASCADE_PAGE_LOADER_TASKS" Value="PageLoaderTasks">
    <div class="@ComputeContentClass()" inert="@PageLoaderDisplayed">
        @ChildContent
    </div>
</CascadingValue>
</CascadingValue>
<div class="@CLASS_BEFORE" tabindex="0" inert="@(!PageLoaderDisplayed)" @onfocus="@(() => ActionHandler.SetFocus(ID))" />
<div
    id="@ID"
    class="@ComputeClass()"
    style="@Style"
    aria-live="off"
    aria-label="@I18N.T("Loading")"
    role="status"
    tabindex="0"
    inert="@(!PageLoaderDisplayed)"
>
    <PageLoaderIndicator />
</div>
<div class="@CLASS_AFTER" tabindex="0" inert="@(!PageLoaderDisplayed)" @onfocus="@(() => ActionHandler.SetFocus(ID))" />
