@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div class="nav-menu-mobile-content" inert="@(State != MENU_STATE.CLOSED)">
    @ChildContent
</div>

<div class="nav-menu-mobile-init" tabindex="0" @onfocus="() => ActionHandler.SetFocus(ID)" inert="@(State != MENU_STATE.OPENED)" />
<div class="nav-menu-mobile-start" tabindex="0" @onfocus="() => ActionHandler.FocusLast(ID)" inert="@(State != MENU_STATE.OPENED)" />
<nav id="@ID" class="@ComputeClass()" style="@Style" tabindex="0" role="dialog" aria-label="@I18N.T("Mobile menu")" @onkeydown="OnKeyDown">
    <ScrollArea
        @ref="@ScrollAreaRef"
        OverflowX="false"
        Class="scroll-area-nav-menu"
        AutoHide="SCROLLAREA_AUTOHIDE.MOVE"
        Theme="@AppTheme.NAV_MENU_MOBILE_SCROLL_THEME"
    >
        <NavMenuCloseButton OnClick="@Close" />
        <Container Type="CONTAINER_TYPE.INLINE" Boundary PaddingHorizontal Class="nav-menu-mobile-container">
            <LogoLink />
            <MenuControls Mobile Close="Close" />
        </Container>
    </ScrollArea>
</nav>
<div class="nav-menu-mobile-end" tabindex="0" @onfocus="() => ActionHandler.SetFocus(ID)" inert="@(State != MENU_STATE.OPENED)" />
