@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div class="@ComputeClass()" style="@Style" @onfocusin="OnFocusIn" @onfocusout="OnFocusOut">
    <div class="menu-links">
        <MenuButton ID="@(Mobile ? FIRST_LINK_ID_MOBILE : FIRST_LINK_ID)" Params="@(new ButtonLinkParams(
            Href: I18N.Link<HomePage>(),
            Match: WEBLINK_MATCH.ALL
        ))">
            <Icon><AntIcon Type="home" Theme="outline" Style="top: -1px" /></Icon>
            <Text>@I18N.T("Home")</Text>
        </MenuButton>
        <MenuButton Params="@(new ButtonLinkParams(
            Href: I18N.Link<ManualPage>(),
            Match: WEBLINK_MATCH.ALL
        ))">
            <Icon><AntIcon Type="question" Theme="outline" /></Icon>
            <Text>@I18N.T("Manual")</Text>
        </MenuButton>
        <MenuButton Params="@(new ButtonLinkParams(
            Href: I18N.Link<GamePage>()
        ))">
            <Icon><AntIcon Type="play-circle" Theme="outline" /></Icon>
            <Text>@I18N.T("Play")</Text>
        </MenuButton>
        <MenuButton Params="@(new ButtonLinkParams(
            Href: I18N.T("LINK_FEEDBACK"),
            Target: WEBLINK_TARGET.BLANK,
            Match: WEBLINK_MATCH.ALL
        ))">
            <Icon><AntIcon Type="book" Theme="outline" /></Icon>
            <Text>@I18N.T("Feedback")</Text>
        </MenuButton>
        <AuthViewBlock>
            <MenuButton Params="@(new ButtonLinkParams(
                Href: I18N.Link<LoginPage>(),
                Match: WEBLINK_MATCH.ALL
            ))">
                <Icon><AntIcon Type="login" Theme="outline" /></Icon>
                <Text>@I18N.T("Log in")</Text>
            </MenuButton>
        </AuthViewBlock>
        <AuthView>
            <MenuButton Params="@(new ButtonLinkParams(
                Href: I18N.Link<ChatPage>(),
                Match: WEBLINK_MATCH.ALL
            ))">
                <Icon><AntIcon Type="message" Theme="outline" /></Icon>
                <Text>@I18N.T("Chat")</Text>
            </MenuButton>
        </AuthView>
    </div>
    <div class="settings-container">
        <SelectCulture />
        <div class="settings-area">
            <SwitchTheme />
            <CookieButton />
        </div>
    </div>
</div>
