@namespace Jumpeno.Client.Components

<div class="@CLASSNAME">
    <SelectBase
        Label="@I18N.T("Select language")"
        HideLabel
        Options="@Options"
        DefaultValue="@DefaultValue"
        OnSelect="@OnSelect"
    />
</div>
