@namespace Jumpeno.Client.Components

@inherits BasicComponent

@code {
    private string[] LoginMessage = I18N.Split(I18N.T("Or @I18N_SPLIT{}login@I18N_SPLIT{} to create new."));
}

<div class="connect-box">
    <Box Class="connect-form">
        <Heading1 Size="TEXT_SIZE.L" Spacing Class="connect-heading">@I18N.T("Connect to game")</Heading1>
        <Heading1 Size="TEXT_SIZE.L" Spacing Class="connect-heading connect-heading-mobile">@I18N.T("Connect")</Heading1>
        <div class="connect-input-box">
            <InputField ViewModel="VMCode" Name="code" Label="@I18N.T("Game code")" Size="FORM_SIZE.L" Align="FORM_ALIGN.CENTER" />
            <AuthViewBlock Roles="[ROLE.USER]">
                <FormLabel Label="@I18N.T("Your name")">
                    <InputField ViewModel="VMName" Name="name" Label="@I18N.T("Your name")" AllowClear />
                </FormLabel>
            </AuthViewBlock>
        </div>
        <div class="connect-buttons">
            <Button Size="BUTTON_SIZE.M" Class="connect-button" OnClick="HandlePlay">
                <Icon><AntIcon Type="play-circle" Theme="outline" /></Icon>
                <Text>@I18N.T("Play")</Text>
            </Button>
            <Button Variant="BUTTON_VARIANT.SECONDARY" Size="BUTTON_SIZE.M" Class="connect-button" OnClick="HandleWatch">
                <Icon><AntIcon Type="eye" Theme="outline" /></Icon>
                <Text>@I18N.T("Watch")</Text>
            </Button>
        </div>
        <AuthView Roles="[ROLE.USER]">
            <WebLink
                Href="@(I18N.Link<GamePage>())" HrefPrevent
                OnClick="GamePage.NavigateToCreate"
                Class="create-link"
            >
                <AntIcon Type="plus-circle" Theme="outline" Class="create-icon" />
                &nbsp;@I18N.T("Create new game")&nbsp;
            </WebLink>
        </AuthView>
        <AuthView Roles="[ROLE.ADMIN]">
            <div class="connect-gap" />
        </AuthView>
        <AuthViewBlock>
            <Paragraph Class="connect-text">
                @LoginMessage[0]
                <WebLink Href="@(I18N.Link<LoginPage>())" Underline>
                    @LoginMessage[1]
                </WebLink>
                @LoginMessage[2]
            </Paragraph>
        </AuthViewBlock>
    </Box>
</div>
