@namespace Jumpeno.Client.Components

@inherits BasicComponent

@code {
    private string[] LoginMessage = I18N.Split(I18N.T("Or @I18N_SPLIT{}login@I18N_SPLIT{} to create new."));
}

<div class="connect-box-component">
    <Box Class="connect-box">
        <Heading1 Size="TEXT_SIZE.L" Spacing Class="connect-heading">@I18N.T("Connect to game")</Heading1>
        <Heading1 Size="TEXT_SIZE.L" Spacing Class="connect-heading connect-heading-mobile">@I18N.T("Connect")</Heading1>
        <div class="connect-input-box">
            <Input ViewModel="VMCode" Size="INPUT_SIZE.L" Align="INPUT_ALIGN.CENTER" HideLabel />
            @if (ShowName) { <Input ViewModel="VMName" Size="INPUT_SIZE.M" Align="INPUT_ALIGN.LEFT" AllowClear /> }
        </div>
        <div class="connect-buttons">
            <Button Size="BUTTON_SIZE.M" Class="connect-button" OnClick="HandlePlay">
                <Icon><AntIcon Type="play-circle" Theme="outline" /></Icon>
                <Text>@I18N.T("Play")</Text>
            </Button>
            <Button Variant="BUTTON_VARIANT.SECONDARY" Size="BUTTON_SIZE.M" Class="connect-button" OnClick="HandleWatch">
                <Icon><AntIcon Type="eye" Theme="outline" /></Icon>
                <Text>@I18N.T("Watch")</Text>
            </Button>
        </div>
        <AuthView Roles="[ROLE.USER]">
            <Link
                Href="@(I18N.Link<GamePage>())" HrefPrevent
                OnClick="GamePage.NavigateToCreate"
                Class="create-link"
            >
                <AntIcon Type="plus-circle" Theme="outline" Class="create-icon" />
                &nbsp;@I18N.T("Create new game")&nbsp;
            </Link>
        </AuthView>
        <AuthView Roles="[ROLE.ADMIN]">
            <div class="connect-gap" />
        </AuthView>
        <AuthViewBlock>
            <Paragraph Class="connect-text">
                @LoginMessage[0]
                <Jumpeno.Client.Components.Link Href="@(I18N.Link<LoginPage>())" Underline>
                    @LoginMessage[1]
                </Jumpeno.Client.Components.Link>
                @LoginMessage[2]
            </Paragraph>
        </AuthViewBlock>
    </Box>
</div>
