@namespace Jumpeno.Client.Components

@inherits TextElementBase

@switch(@Type) {
    case TEXT_TYPE.SPAN:
        <span class="@ComputeClass()" style="@Style" @attributes="AdditionalAttributes">@ChildContent</span>
        break;
    case TEXT_TYPE.PARAGRAPH:
        <p class="@ComputeClass()" style="@Style" @attributes="AdditionalAttributes">@ChildContent</p>
        break;
    case TEXT_TYPE.ANCHOR:
        <a class="@ComputeClass()" style="@Style" @attributes="AdditionalAttributes">@ChildContent</a>
        break;
}
