@namespace Jumpeno.Client.Components

<div class="lobby">
    <Box Class="lobby-game">
        <Heading1>@VM.Game.Name</Heading1>
        <Paragraph>@I18N.T("Code"): @VM.Game.Code</Paragraph>
    </Box>
    <Box Class="lobby-players">
        <div class="player-titles">
            <Heading2 NoWrap Class="player-title">@I18N.T("Players"):</Heading2>
            <Heading2 NoWrap Class="player-title">@I18N.T("Score")</Heading2>
        </div>
        @foreach (var (player, index) in VM.Game.PlayerScoreIterator) {
            <div class="@ComputePlayerLineClass(VM.Player != null && VM.Player.Equals(player))">
                <Paragraph NoWrap Class="player-name">@(index + 1). @player.User.Name@(player.IsConnected ? "" : " (disconnected)")</Paragraph>
                <Paragraph NoWrap Class="player-score">@(player.Score)</Paragraph>
            </div>
        }
    </Box>
</div>
