@namespace Jumpeno.Client.Components

@if (Displayed) {
    <div
        id="@ID_LOADER"
        class="@ComputeClass()"
        tabindex="0"
        role="status"
        aria-label="@I18N.T("Loading")"
    >
        <h1 class="@CLASS_TITLE" aria-hidden="true">@AppSettings.Name</h1>
        <PageLoaderIndicator />
    </div>
}
