@namespace Jumpeno.Client.Pages

@inherits Page
@attribute [Route(AdminPage.ROUTE_EN)]
@attribute [Route(AdminPage.ROUTE_SK)]

<DocTitle Value="@I18N.T("Admin")" />

<div class="admin-page">
    <div class="feature-panel">
        <Heading2 Class="admin-heading">@I18N.T("Active games")</Heading2>
        <Box Class="games-box">
            <div style="width: 100%; padding: 40px 0; text-align: center">
                <AntIcon Type="coffee" Theme="outline" Style="font-size: 180px; margin: 0 auto 30px; transform: translateX(14px)" />
                <Paragraph Style="text-align: center">@I18N.T("We are working on the implementation of this functionality.")</Paragraph>
            </div>
        </Box>
        <div style="display: flex; flex-direction: column; width: 100%; padding: 60px 0; gap: 20px">
            <Heading2 Class="admin-heading">@I18N.T("Testing")</Heading2>
            <Paragraph Style="text-align: center">@I18N.T("We are working on the implementation of this functionality.")</Paragraph>
        </div>
    </div>
    <div class="service-panel">
        <Heading2 Class="admin-heading admin-title">@I18N.T("Admin")</Heading2>
        <Box Class="db-box">
            <Heading2 Size="TEXT_SIZE.M" Class="db-heading"><AntIcon Type="database" Theme="outline" />&nbsp;@I18N.T("Database")</Heading2>
            <Paragraph Size="TEXT_SIZE.S" Class="db-info">
                <b>MariaDB</b>
                @I18N.T("Use credentials from the connection string"):
            </Paragraph>
            <div class="db-buttons">
                <Button Size="BUTTON_SIZE.S" Class="db-button" Params="@(new ButtonLinkParams(
                    Href: AppSettings.Links.Adminer,
                    Target: LINK_TARGET.BLANK
                ))">
                    <Icon><AntIcon Type="link" Theme="outline" /></Icon>
                    <Text>Adminer</Text>
                </Button>
                <CredentialsModal Label="@I18N.T("Credentials")" URL="@API.BASE.ADMIN_DB_CREDENTIALS" @ref="@DBCredentialsModalRef" />
                <Button Variant="BUTTON_VARIANT.SECONDARY" Size="BUTTON_SIZE.S" Class="db-button" OnClick="OpenDBCredentials">
                    <Icon><AntIcon Type="eye-invisible" Theme="outline" /></Icon>
                    <Text>@I18N.T("Credentials")</Text>
                </Button>
            </div>
        </Box>
        <Box Class="email-box">
            <Heading2 Size="TEXT_SIZE.M" Class="email-heading">
                <AntIcon Type="mail" Theme="outline" />&nbsp;@I18N.T("Email")
            </Heading2>
            <Paragraph Class="email-info">
                <b>@AppSettings.Email</b>
                @I18N.T("Emails, files and forms"):
            </Paragraph>
            <div class="email-buttons">
                <Button Size="BUTTON_SIZE.S" Class="email-button" Params="@(new ButtonLinkParams(
                    Href: AppSettings.Links.Email,
                    Target: LINK_TARGET.BLANK
                ))">
                    <Icon><AntIcon Type="link" Theme="outline" /></Icon>
                    <Text>Email</Text>
                </Button>
                <CredentialsModal Label="@I18N.T("Password")" URL="@API.BASE.ADMIN_EMAIL_PASSWORD" @ref="@EmailPasswordModalRef" />
                <Button Variant="BUTTON_VARIANT.SECONDARY" Size="BUTTON_SIZE.S" Class="email-button" OnClick="OpenEmailPassword">
                    <Icon><AntIcon Type="eye-invisible" Theme="outline" /></Icon>
                    <Text>@I18N.T("Password")</Text>
                </Button>
            </div>
            <div>
                <Paragraph Class="email-factor-paragraph" Style="font-weight: 600; font-size: 14px" Spacing>
                    <AntIcon Type="info-circle" Theme="outline" />&nbsp;@I18N.T("Two-factor authentication (2FA)")
                </Paragraph>
                <Paragraph Class="email-factor-paragraph">
                    @I18N.T("Get your access from email admin.")
                </Paragraph>
                <Paragraph Class="email-factor-paragraph">
                    @I18N.T("In case of emergency use the backup key.")
                </Paragraph>
                <Paragraph Class="email-factor-paragraph">
                    @I18N.T("Generate and set new secret after!")
                </Paragraph>
            </div>
            <CredentialsModal Label="@I18N.T("Backup keys")" URL="@API.BASE.ADMIN_EMAIL_BACKUP_KEYS" @ref="@EmailBackupKeysModalRef" />
            <Button Variant="BUTTON_VARIANT.SECONDARY" Size="BUTTON_SIZE.S" Class="db-button" OnClick="OpenEmailBackupKeys">
                <Icon><AntIcon Type="eye-invisible" Theme="outline" /></Icon>
                <Text>@I18N.T("Backup keys")</Text>
            </Button>
        </Box>
    </div>
</div>
