@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div class="create-box">
    <AuthView Roles="[ROLE.USER]">
        <Box Class="create-form">
            <Heading1 Size="TEXT_SIZE.L" Spacing Class="create-heading">@I18N.T("Create game")</Heading1>
            <Button Size="BUTTON_SIZE.M" OnClick="Create">
                <Text>@I18N.T("Create")</Text>
            </Button>
            <WebLink
                Href="@(I18N.Link<GamePage>())" HrefPrevent
                OnClick="GamePage.NavigateToConnect"
                Class="connect-link"
            >
                <AntIcon Type="play-circle" Theme="outline" Class="connect-icon" />
                &nbsp;@I18N.T("Connect")&nbsp;
            </WebLink>
        </Box>
    </AuthView>
    <AuthViewBlock Roles="[ROLE.USER]">
        <div class="create-box-error-page">
            <Heading1 Size="TEXT_SIZE.XL" Class="error-page-heading">@I18N.T("Error 403")</Heading1>
            <Paragraph Size="TEXT_SIZE.L" Class="error-page-paragraph">@I18N.T("You are not authorized to create games.")</Paragraph>
            <WebLink
                Href="@(I18N.Link<GamePage>())" HrefPrevent
                OnClick="GamePage.NavigateToConnect"
                Class="connect-link"
            >
                <AntIcon Type="play-circle" Theme="outline" Class="connect-icon" />
                &nbsp;@I18N.T("Connect")&nbsp;
            </WebLink>
        </div>
    </AuthViewBlock>
</div>
