@namespace Jumpeno.Client.Components

<div class="game-screen">
    <div
        class="canvas-box"
        width="@($"{CanvasWidth}px")"
        height="@($"{CanvasHeight}px")"
        style="@($"border-color: rgba({VM.Game.Map.Background}, 0.4)")"
    >
        <BECanvas Width="CanvasWidth" Height="CanvasHeight" @ref="GameCanvasRef" />
    </div>
    <div class="game-info">
        <p class="game-time">@Format.Ms_To_MMSS(VM.Game.Time)</p>
        <div class="mid-line" />
        <p class="info-text">@($"Latency"):&nbsp;&nbsp;<b>@Format.DoubleWhole(VM.Game.Latency)</b></p>
        <p class="info-text info-trip">@($"Ping"):&nbsp;&nbsp;<b>@Format.DoubleWhole(VM.Game.Ping)</b></p>
    </div>
</div>
