@namespace Jumpeno.Client.Components

@inherits ButtonComponent

<div class="@ComputeClass()">
    @if (Parameters.IsT0) {
        <button
            id="@ID"
            type="@Parameters.AsT0.Type.ToString().ToLower()"
            @onclick="@(async () => { await OnClick.InvokeAsync(this); })"
            @attributes="@AdditionalAttributes"
            class="@ComputeClass(@CLASSNAME_ELEMENT)"
        >
            @RenderChildContent()
        </button>
    } else {
        <Link
            ID="@ID"
            Href="@Parameters.AsT1.Href"
            Label="@Parameters.AsT1.Label"
            OnClick="@(async () => { await OnClick.InvokeAsync(this); })"
            Target="@Parameters.AsT1.Target"
            Match="@Parameters.AsT1.Match"
            ActiveClass="@Parameters.AsT1.ActiveClass"
            Class="@CLASSNAME_ELEMENT"
            ChildContent="@RenderChildContent()"
        />
    }
</div>
