@namespace Jumpeno.Client.Components

@inherits Component

<DocTitle Value="@I18N.T("Admin")" />

@if (!Verified) {
    <div class="admin-login-form">
        <Heading1 Class="admin-heading" Size="TEXT_SIZE.L">@I18N.T("Admin")</Heading1>
        <Input ViewModel="VMEmail" Size="INPUT_SIZE.M" Align="INPUT_ALIGN.CENTER" Autocomplete />
        <Button Size="BUTTON_SIZE.M" OnClick="Login">
            <Text>@I18N.T("Send")</Text>
        </Button>
        <Jumpeno.Client.Components.Link Size="TEXT_SIZE.S" NoWrap OnClick="() => VM.Show(LOGIN_FORM.USER)" Class="login-text">
            <AntIcon Type="login" Theme="outline" Class="icon-login" />&nbsp;@I18N.T("Login")&nbsp;
        </Jumpeno.Client.Components.Link>
    </div>
} else {
    <Box>
        <div class="admin-login-form">
            <div class="verification-box">
                <AntIcon Type="mail" Theme="outline" Class="verification-icon" />
                <Paragraph Class="verification-text">@I18N.T("Check your email address.")</Paragraph>
                <Paragraph Class="verification-text-info" Size="TEXT_SIZE.S">(@I18N.T("You can now close this page."))</Paragraph>
            </div>
        </div>
    </Box>
}
