@namespace Jumpeno.Client.Components

@inherits SurfaceComponent

<div id="@ID" class="@ComputeClass()" style="@Style">
    <div class="image-ratio" />
    <img class="image-element" src="@URL" loading="@Loading.ToString().ToLower()" @attributes="@AdditionalAttributes" />
    <div class="error-icon-wrapper" aria-hidden="true">
        <AntDesign.Icon Type="file-image" Theme="outline" class="error-icon" />
    </div>
</div>
