@namespace Jumpeno.Client.Components

@inherits BasicComponent

<div class="@ComputeClass()">
    <div class="@CLASS_CONTENT" inert="@Disabled">
        @ChildContent
    </div>
    <div class="@CLASS_DISABLED_CURSOR">
        @DisabledCursor
    </div>
    <div class="@CLASS_OUTLINE" />
    <p
        class="@CLASS_MESSAGE"
        tabindex="@(ViewModel.HasError ? 0 : -1)"
        aria-roledescription="@I18N.T("Error")"
        @onclick="OnClick"
        @onkeydown="OnKeyDown"
    >
        @ViewModel.Message
    </p>
</div>
