@namespace Jumpeno.Client.Atoms

<button
    id="@ID"
    type="@BUTTON_TYPE.BUTTON.String()"
    class="@CLASS"
    @onclick="@OnClick"
    aria-label="@I18N.T("Mobile menu")"
    @onfocus="@OnFocus"
    @onblur="@OnBlur"
>
    <div class="@CLASS_LINE" />
    <div class="@CLASS_LINE" />
    <div class="@CLASS_LINE" />
</button>
