@namespace Jumpeno.Client.Components

<AuthView Roles="[ROLE.ADMIN]">
    <div class="@CLASS">
        <DropDown Title="@I18N.T("Admin menu")">
            <DropDownButton>
                <AntIcon Type="user" Theme="outline" Class="@CLASS_PROFILE_IMAGE" />
            </DropDownButton>
            <Options>
                <DropDownOption Label="@I18N.T("Settings")" Action="@new(OpenSettings)">
                    <AntIcon Type="setting" Theme="outline" Class="@CLASS_ICON" Style="font-size: 18px;" />
                    <DropDownOptionText>@I18N.T("Settings")</DropDownOptionText>
                </DropDownOption>
                <DropDownOption Label="@I18N.T("Log out")" Action="@new(LogOut)">
                    <AntIcon Type="logout" Theme="outline" Class="@CLASS_ICON" Style="margin-top: -1px;" />
                    <DropDownOptionText>@I18N.T("Log out")</DropDownOptionText>
                </DropDownOption>
            </Options>
        </DropDown>
    </div>
</AuthView>
