@namespace Jumpeno.Client.Components

@inherits Component

@if (Auth.IsRegisteredUser) {
    <div class="@CLASS">
        <DropDown @ref="Ref" Title="@I18N.T("User menu")">
            <DropDownButton>
                <Image URL="@Animation.GetURL(Auth.User.Skin)" Transparent Class="@CLASS_PROFILE_IMAGE" />
            </DropDownButton>
            <Options>
                <DropDownOption Ref="Ref" Label="@I18N.T("My profile")" Action="@new(OpenProfile)">
                    <AntIcon Type="setting" Theme="outline" Class="@CLASS_ICON" Style="font-size: 18px;" />
                    <DropDownOptionText>@I18N.T("My profile")</DropDownOptionText>
                </DropDownOption>
                <DropDownOption Ref="Ref" Label="@I18N.T("Log out")" Action="@new(LogOut)">
                    <AntIcon Type="logout" Theme="outline" Class="@CLASS_ICON" Style="margin-top: -1px;" />
                    <DropDownOptionText>@I18N.T("Log out")</DropDownOptionText>
                </DropDownOption>
            </Options>
        </DropDown>
    </div>

    <UserProfileModal @ref="@UserProfileModalRef" />
}
