@namespace Jumpeno.Client.Components

@inherits ButtonComponent

<div class="@ComputeClass()">
    @if (Params.IsT0) {
        <button
            id="@ID"
            type="@Params.AsT0.Type.StringLower()"
            @onclick="@(async () => await OnClick.InvokeAsync(this))"
            @attributes="@AdditionalAttributes"
            class="@ComputeClass(@CLASSNAME_ELEMENT)"
        >
            @RenderChildContent()
        </button>
    } else {
        <Link
            ID="@ID"
            Href="@Params.AsT1.Href"
            HrefPrevent="@Params.AsT1.HrefPrevent"
            Label="@Params.AsT1.Label"
            OnClick="@(async () => await OnClick.InvokeAsync(this))"
            Target="@Params.AsT1.Target"
            Match="@Params.AsT1.Match"
            ActiveClass="@Params.AsT1.ActiveClass"
            Class="@CLASSNAME_ELEMENT"
            ChildContent="@RenderChildContent()"
        />
    }
</div>
