@page
@namespace Jumpeno.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture" data-overlayscrollbars-initialize>
    <head>
        <!-- Import -->
        @Import.Init()
        <!-- General -->
        <base href="/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, interactive-widget=overlays-content, viewport-fit=cover" />
        <link href="@AppEnvironment.Import("manifest.webmanifest")" rel="manifest" />
        <component type="typeof(HrefLang)" render-mode="Static" />
        <!-- Description -->
        <title>@AppSettings.Name</title>
        <meta name="apple-mobile-web-app-title" content="@AppSettings.Name" />
        <meta name="description" content="@I18N.T("JUMPENO_DESCRIPTION")">
        <meta name="keywords" content="@I18N.T("JUMPENO_KEYWORDS")">
        <meta name="author" content="FRI UNIZA">
        <!-- Icons -->
        <link rel="shortcut icon" href="@IMAGE.FAVICON_ICO" />
        <link rel="icon" type="image/png" sizes="96x96" href="@IMAGE.FAVICON_PNG" />
        <link rel="icon" type="image/svg+xml" href="@IMAGE.FAVICON_SVG" />
        <link rel="apple-touch-icon" sizes="180x180" href="@IMAGE.FAVICON_APPLE_TOUCH_ICON" />
        <!-- CSS Modules -->
        <link href="modules/OverlayScrollbars/OverlayScrollbars.2.10.0.min.css" rel="stylesheet" integrity="sha512-LJPmNwX2gc0MasqB7LmhaaAdEcB484xA8STRs2Bke2qTDxl1hqKk6xbRxa4SnktZaBkS42IManLbrjXONu7LPQ==" crossorigin="anonymous" referrerpolicy="no-referrer" @Import.Critical />
        <link href="@AppEnvironment.Import("_content/AntDesign/css/ant-design-blazor.css")" rel="stylesheet" no-antblazor-css @Import.Critical />
        <link href="@AppEnvironment.Import("_content/AntDesign/css/ant-design-blazor.variable.css")" rel="stylesheet" @Import.Critical />
        <!-- CSS Global -->
        @if (AppEnvironment.IsProduction && AppSettings.Bundle) {
            <link href="@AppEnvironment.Import("css/bundle.css")" rel="stylesheet" @Import.Critical />
        } else {
            <link href="@AppEnvironment.Import("css/theme.css")" rel="stylesheet" @Import.Critical />
            <link href="@AppEnvironment.Import("css/font.css")" rel="stylesheet" @Import.Critical />
            <link href="@AppEnvironment.Import("css/app.css")" rel="stylesheet" @Import.Critical />
        }
        <!-- CSS Global END -->
        <!-- CSS Project -->
        <link href="@AppEnvironment.Import("Jumpeno.Client.styles.css")" rel="stylesheet" @Import.Critical />
        <!-- Blazor headers -->
        <component type="typeof(HeadOutlet)" render-mode="@ServerEnvironment.RenderMode()" />
    </head>
    <body class="@ThemeProvider.ServerBodyClass()" data-overlayscrollbars-initialize global>
        <!-- Blazor content -->
        <component type="typeof(ServerPageLoader)" render-mode="Static" />
        <component type="typeof(App)" render-mode="@ServerEnvironment.RenderMode()" />
        <persist-component-state />
        <!-- JS Modules -->
        <script src="modules/OverlayScrollbars/OverlayScrollbars.2.10.0.min.js" integrity="sha512-89ZH53E2dymQKjudMI4Pj4zBuKgaeJnbVRCbrbyanofU0HPWVGD38uhk+rnpEKwioeR2QBEwaxULYhrPoAbuoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" @Import.Critical></script>
        <script src="@AppEnvironment.Import("_content/AntDesign/js/ant-design-blazor.js")" no-antblazor-js @Import.Critical></script>
        <script src="@AppEnvironment.Import("_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js")" @Import.Critical></script>
        <!-- JS Global -->
        @if (AppEnvironment.IsProduction && AppSettings.Bundle) {
            <script src="@AppEnvironment.Import("js/bundle.js")" @Import.Critical></script>
        } else {
            <script src="@AppEnvironment.Import("js/constants/CSS_CLASS.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/utils/locks/Mutex.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/utils/locks/models/LockToken.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/utils/locks/Locker.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/utils/listeners/ListenerStorage.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/storage/JSCookies.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/components/JSImage.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/theme/JSThemeProvider.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/components/JSServerPageLoader.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/components/JSWebDocument.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/document/JSNavigator.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/constants/DOTNET.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/constants/ERROR.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/storage/JSLocalStorage.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/document/JSActionHandler.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/document/JSWindow.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/document/JSAnimationHandler.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/document/JSAnimator.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/components/JSModal.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/components/JSScrollArea.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/components/JSPageLoader.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/components/JSConsoleUI.js")" @Import.Critical></script>
            <script src="@AppEnvironment.Import("js/document/JSTempTitle.js")" @Import.Critical></script>
        }
        <!-- JS Global END -->
        <!-- JS Project -->
        <script src="@AppEnvironment.Import("_framework/blazor.webassembly.js")" autostart="false" @Import.Critical></script>
        <script>
            (async () => {
                JSActionHandler.SetFocus(JSServerPageLoader.ID);
                JSThemeProvider.Init(@($"{AppSettings.Theme.AutoDetect}".ToLower()), "@COOKIE.PREFERENCES.APP_THEME.String()");
                JSTempTitle.Add();
                JSWindow.Init();
                JSNavigator.Init();
                JSImage.InitAll();
                Blazor.start({ applicationCulture: "@CultureInfo.CurrentCulture" });
            })();
        </script>
    </body>
</html>
