@namespace Jumpeno.Client.Components

@inherits BasicComponent

<Modal
    @ref="@ModalRef"
    Unclosable="@Unclosable"
    Label="@I18N.T("Cookie settings")"
    Class="@CLASS"
>
    <Content>
        <div class="consent-container">
            <Collapse Surface="COLLAPSE_SURFACE.FLOATING_COLLAPSE">
                <CollapseItem Label="@I18N.T("Mandatory cookies")">
                    <Title>
                        <div class="@CLASS_COOKIE_TITLE">
                            @I18N.T("Mandatory cookies")
                            <SwitchField ViewModel="SwitchMandatoryVM" Label="@I18N.T("Allow mandatory cookies")" AutoSize NoError Disabled />
                        </div>
                    </Title>
                    <Content>
                        @I18N.T("Mandatory cookies text")
                    </Content>
                </CollapseItem>
                <CollapseItem Label="@I18N.T("Preferences")">
                    <Title>
                        <div class="@CLASS_COOKIE_TITLE">
                            @I18N.T("Preferences")
                            <SwitchField ViewModel="SwitchFunctionalVM" Label="@I18N.T("Allow preference cookies")" AutoSize NoError />
                        </div>
                    </Title>
                    <Content>
                        @I18N.T("Preference cookies text")
                    </Content>
                </CollapseItem>
            </Collapse>
            <Paragraph Size="TEXT_SIZE.S" Class="cookie-paragraph">
                @I18N.T("Cookie message cookie files (Cookie message)")
                <WebLink Href="@URL.Link(I18N.T("LINK_COOKIE"))" Target="WEBLINK_TARGET.BLANK" Size="TEXT_SIZE.S" NoWrap Underline>
                    @I18N.T("Cookie message cookie files (cookie files)")
                </WebLink>
            </Paragraph>
        </div>
    </Content>
    <Footer>
        <div class="consent-footer">
            <Button Variant="BUTTON_VARIANT.TERTIARY" NoShadow Size="BUTTON_SIZE.S" OnClick="@(async () => await AcceptCookies(Selected.Keys.ToList()))">
                <Text>@I18N.T("Accept chosen")</Text>
            </Button>
            <Button Variant="BUTTON_VARIANT.TERTIARY" NoShadow Size="BUTTON_SIZE.S" OnClick="@(async () => await AcceptCookies(COOKIE.TYPES_REQUIRED))">
                <Text>@I18N.T("Only mandatory")</Text>
            </Button>
            <Button Variant="BUTTON_VARIANT.QUATERNARY" NoShadow Size="BUTTON_SIZE.S" OnClick="@(async () => await AcceptCookies(COOKIE.TYPES))">
                <Text>@I18N.T("Accept all")</Text>
            </Button>
        </div>
    </Footer>
</Modal>
